# Обязательно игнорируем ключи от API! Чтобы не слить их на весь мир.
.env
*.env
.env.local

# Логи и кеши
logs/
*.log
.npm/
.yarn/
.cache/

# Файлы ОС
.DS_Store
Thumbs.db

# Идеи от редакторов
.idea/
.vscode/
*.swp
*.swo

# Для питона (если вдруг будешь использовать)
__pycache__/
*.pyc
*.pyo
